* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #191919;
  margin: 0;
}

/* HEADER  */
/* NAV BAR  */
header nav {
  background-color: #ffc017;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 20px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.scrolled {
  background-color: white;
}

nav * {
  display: inline;
}

.tre-div-nav {
  display: none;
}

.nav-big {
  background-color: #181918;
  color: white;
  padding: 0.7em 1.5em;
  border-radius: 30px;
  margin-left: 1em;
  transition: background-color 1s ease-in;
}

.scrolled .nav-big {
  background-color: #1a8917;
}

header section {
  background-color: #ffc017;
  border: 1px solid black;
  padding: 6em 2em 3.5em 2em;
}

.top-section {
  min-width: 400px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0;
  margin-top: 4.7em;
}

.top-section h1 {
  font-weight: 600;
  font-size: 4em;
  margin-bottom: 0.5em;
  font-family: 'Spectral', serif;
}

.top-section p {
  font-size: 1.5em;
  margin-top: 0;
}

.top-button {
  background-color: #181918;
  color: white;
  padding: 0.5em 3em;
  border-radius: 20px;
  font-size: large;
  margin-top: 3em;
  margin-bottom: 2em;
}

/* <!-- ARTWORK con "M" ripetute -->  */
.svg-container {
  display: none;
}

/* MAIN  */

main {
  padding-top: 2.5em;
}

.riga-trending {
  display: flex;
  align-items: center;
}

#arrow-trend-up {
  width: 20px;
  margin-right: 1em;
}

.trend-1 h3 img {
  width: 50%;
}

/* PRIMA SECTION  */

.section1 ol {
  counter-reset: list;
  list-style: none;
}

.section1 ol li {
  counter-increment: list;
  margin-top: 1em;
  font-weight: bold;
  display: inline-block;
}

.section1 ol li::before {
  content: counter(list, decimal-leading-zero) ' ';
  color: #e6e7e7;
  font-size: 2em;
  font-weight: bold;
}

.section1 {
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 2.5em;
}

.section1 ol li img {
  border-radius: 50%;
  width: 22px;
  margin-left: 1em;
  margin-right: 0.5em;
}

.section1 a {
  display: inline-flex;
  align-items: center;
  color: black;
  text-decoration: none;
  margin-top: 1.5em;
}

.section1 h4 {
  display: flex;
  margin: 0.3em 1em 0.5em 2.5em;
  font-weight: bold;
  font-size: 1.3em;
}

.section1 p {
  display: flex;
  justify-content: space-between;
  margin-left: 3.7em;
  color: #a9a9a9;
  font-size: 0.9em;
}

.hr1 {
  background-color: #e6e7e7;
  height: 1px;
  border: none;
}

article {
  padding: 2.5em 1.5em 0em 1.5em;
}

/* SECTION 2  */

.section2 {
  margin: 1.5em 0em 2em 0em;
}

.section2 h2 {
  font-weight: bold;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 1em;
}

.section2 button {
  background-color: transparent;
  padding: 0.5em 1em;
  border: 1px solid #e6e7e7;
  margin: 0.3rem 0.2rem;
  color: #a9a9a9;
}

.hr2 {
  background-color: #e6e7e7;
  height: 1px;
  border: none;
  margin-bottom: 2em;
  margin-top: 2em;
}

/* SECTION 3  */

.section2 nav {
  color: #a9a9a9;
}

.section2 ul {
  list-style: none;
}

.section2 ul li {
  padding-right: 1.5em;
  line-height: 2em;
}

/* SECONDA PARTE  */

.section3 ol {
  list-style: none;
}

.section3 ol li {
  font-size: 1.2em;
  margin-bottom: 2.5em;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.section3 ol li a img {
  border-radius: 50%;
  width: 22px;
  margin-right: 0.5rem;
  margin-left: 0;
}

.section3 a {
  display: inline-flex;
  align-items: center;
  color: black;
  text-decoration: none;
  margin-top: 0.5em;
  font-size: 0.8em;
  font-weight: bold;
}

.section3 h4 {
  display: flex;
  margin: 0.3em 0em 0.5em 0em;
  font-weight: bold;
  font-size: 1.3em;
  color: black;
}

.section3 p {
  color: #a9a9a9;
  font-size: 0.8em;
  margin-top: 1em;
  display: flex;
  align-items: center;
}

.section3 strong {
  background-color: #f3f3f3;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 15px;
}

.section3 ol li img {
  width: 205px;
  margin-left: 1em;
  align-self: center;
}

#imgstar {
  width: 20px;
  margin-left: 0.3em;
}

#imgbookmark {
  width: 25px;
  margin-left: auto;
}

/* GLI STILI "TABLET" */
@media screen and (min-width: 576px) {
  main {
    width: 95%;
    margin: auto;
  }

  /* HEADER  */
  .tre-div-nav {
    display: inline;
  }

  .nav-small {
    padding-right: 0.5em;
  }

  .nav-big {
    margin-left: 0;
  }

  /* <!-- ARTWORK con "M" ripetute -->  */
  .svg-container {
    display: flex;
    flex-shrink: 0;
    width: 50%;
    overflow: hidden;
  }

  .text-container {
    width: 50%;
  }

  /* SECTION 1  */
  .section1 ol {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section1 li {
    width: 48%;
    box-sizing: border-box;
  }

  /* SECTION 3  */
  .section3 {
    width: 90%;
  }
}

/* GLI STILI "DESKTOP" */
@media screen and (min-width: 992px) {
  main {
    width: 90%;
    margin: auto;
  }

  .svg-container {
    display: flex;
    flex-shrink: 0;
    width: auto;
    overflow: hidden;
    transform: translateY(-35px);
  }

  .text-container {
    width: 30%;
  }

  .section1 ol {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section1 p {
    justify-content: normal;
  }

  .section1 li {
    width: 30%;
    box-sizing: border-box;
  }

  /* SECTION 2  */

  .hr2 {
    margin-top: 2em;
  }

  .section2 {
    width: 360px;
    float: inline-end;
    margin-right: 2em;
    margin-left: 2em;
  }

  /* SECTION 3  */
  .section3 {
    width: 60%;
  }

  .section3 div {
    width: 100%;
  }
}

/* ANIMATION FOR M */

g[stroke-linecap='butt'] {
  transition: opacity 0.5s ease;
}

.opacità {
  opacity: 0;
}
